* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.userList {
  top: 20px;
  border: 1px solid gray;
  width: 8rem;
  border-radius: 4px;
  max-height: fit-content;
  background-color: inherit;
  padding-top: 20px;
  margin-right: 0.8rem;
}

.userList h4 {
  font-size: 0.8rem;
  margin-bottom: -0.2rem;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  color: #790956;
}
.main_div {
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-top: 7rem;
}

.open_modal {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 86, 0.9906556372549019) 2%,
    rgba(0, 212, 255, 1) 71%,
    rgba(0, 212, 255, 1) 90%
  );
  outline: none;
  border: none;
  width: 4rem;
  height: 2rem;
  border-radius: 0.2rem;
  margin-top: 1rem;
}

img {
  margin-left: 1rem;
}
h2 {
  margin-top: 1rem;
}
.modal_div button {
  margin-left: 11rem;
}
